<!DOCTYPE html>
<html>
    <title>SZFM</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="assets/css/AboutUsPageStyle.css">

    <body>
        <div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
            <div class="home w3-display-topleft w3-padding-large">
              Kezdőlap
            </div>
            <div class="middle">
              <h1 class="w3-animate-top">Az aktív pihenés szigete</h1>
            </div>
        </div>
        <div class="main">

            <div class="felxbox-container">

                <div class="container1">
                    <p class="text">
                        Az Alfa Hotel és Wellness központ Miskolc-Tapolcán a Barlangfürdõtõl pár perc sétára a Tapolcai õspark
                        szomszédságában található. Egy wellness hotel szolgáltatásaival, kényelmével és eleganciájával mégis családias
                        hangulattal várja kedves vendégeit.
                    </p>
                </div>

                <div class="container2">
                    <img class="image1" src="resources/images/AboutUsImages/AboutUsPhoto1-2.png" alt="">
                </div>
                <div class="container3">
                    <h2>Miért aktív pihenés?</h2>
                        <p class="text">
                            A wellness részlegben található Miskolc-Tapolca legnagyobb méretû (116m2 ) feszített vízfelületû úszómedencéje,
                            melynek különlegessége, hogy Magyarországon egyedülállóan és elõször alkalmazott technológiával a medence alján
                            üvegablakok láthatók. A wellness centrum pedig a medence alatt került kialakításra. Hasonlóképp a különbözõ
                            külföldi nagy akváriumokhoz, a medencébõl lelátni a Wellness központra, illetve a Jacuzziból fellátni a
                            medencében úszkálókra. (Az úszómedence nyári idõszakban üzemel.)
                            Ezenkívûl aktivitásukat szolgálja a finn szauna, infraszauna, pezsgõmedence, aromakabin. Pihenésûl lazíthatnak a
                            masszõrök kényeztetõ masszázsvariációi alatt és relaxálhatnak egyedi hangulatú sószobánkban.
                        </p>
                </div>
                <div class="container4">
                    <img class="image2" src="resources/images/AboutUsImages/AboutUsPhoto3.png" alt="">
                </div>
            </div>
        </div>
    </body>
</html>