<!DOCTYPE html>
<html>
    <title>SZFM</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="../assets/css/ConnectionPageStyle.css">
    <body>

        <div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
            <div class="home w3-display-topleft w3-padding-large">
                Kezdőlap
            </div>
            <div class="middle">
                <h1 class="title w3-animate-top">Elérhetőségek</h1>
            </div>
        </div>
        
        <div class="data">
            <p>3519 Miskolc-Tapolca, Fenyõ u. 17-19.</p>
            <table class="table">
            
                <tr>
                    <td id="title2">Tel:</td>
                    <td>+36 46/564-200</td>
                </tr>
                <tr>
                    <td id="title2">Mobil:</td>
                    <td>+36 20/270-97-40</td>
                </tr>
                <tr>
                    <td id="title2">Fax:</td>
                    <td>+36 46/564-300</td>
                </tr>
                <tr>
                    <td id="title2">E-mail:</td>
                    <td>wellness@alfahotel.hu</td>
                </tr>
                <tr>
                    <td id="title2">Web:</td>
                    <td>www.alfahotel.hu</td>
                </tr>
            </table>
        </div>
    </body>
</html>