<!DOCTYPE html>
<html>
    <title>SZFM</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="../assets/css/ServicesPage-SportStyle.css">

    <body>
        <div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
            <div class="home w3-display-topleft w3-padding-large">
              Kezdőlap
            </div>
            <div class="middle">
              <h1 class="w3-animate-top">Sport</h1>
            </div>
        </div>
        <div class="main">
            <div class="felxbox-container">
                <div class="container1">
                    <p class="text">
                        Az Alfa Hotel és Wellness központ Miskolc-Tapolcán a Barlangfürdõtõl pár perc sétára a Tapolcai õspark
                        szomszédságában található. Egy wellness hotel szolgáltatásaival, kényelmével és eleganciájával mégis családias
                        hangulattal várja kedves vendégeit.
                    </p>
                </div>
                <div class="container2">
                    <h2>Edzésterv Generátor</h2>
                </div>
                <div class="container3">
                    <h2>Kalória Számláló</h2>
                </div>
            </div>
        </div>
    </body>
</html>