<!DOCTYPE html>
<html lang="en">
    <title>SZFM</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="../assets/css/ServicesPageStyle.css">
    
    <body class="animate-opacity">
        <div class="position animate-top">
            <div class="middle">
                <img src="../resources/images/ServicesPageImages/SportCover.png" style="width:100%" alt="">
                <h1 class="title animate-top">Sport</h1>
            </div>
            <div class="middle">
                <img src="../resources/images/ServicesPageImages/ProgramsCover.png" style="width:100%" alt="">
                <h1 class="title animate-top">Programok</h1>
            </div>
        </div>
        
        <div class="position">
            <div class="middle">
                <img src="../resources/images/ServicesPageImages/RestCover.png" style="width:100%" alt="">
                <h1 class="title animate-top">Pihenés</h1>
            </div>
            <div class="middle">
                <img src="../resources/images/ServicesPageImages/RestaurantCover.png" style="width:100%" alt="">
                <h1 class="title animate-top">Étterem</h1>
            </div>  
        </div>
        
    </body>
</html>