@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #cc9e51;
}


/* HEADER */


/* BORÍTÓ KÉP */

.borito {
    display: grid;
    height: 50vh;
    transition: 0.5s;
    width: 100%;
    position: relative;
    background-image: url("../../../resources/images/szolgaltatas_oldalak_images/teknosborito.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


/* BORÍTÓ SZAUNA */

.borito-img>.cim h1 {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -80%);
    text-align: center;
    font-size: 90px;
    font-weight: 1000;
    background: linear-gradient(to right, white, rgb(240, 213, 198));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* BORÍTÓ SALUTEM */

.borito-img>.cim h3 {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -90%);
    text-align: center;
    font-size: 50px;
    font-weight: 1000;
    background: linear-gradient(to right, white, rgb(240, 213, 198));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* NAV BOX CLEAR */

nav .topmenu:after {
    content: '';
    clear: both;
    display: table;
}


/* NAV BOX SZÉLESSÉG / EFFEKT-HIDDEN  */

nav .topmenu {
    overflow: hidden;
    width: 100%;
}


/* NAV MENU ELEMEK RENDEZÉSE */

nav .topmenu ul {
    position: relative;
    margin-right: 40px;
    float: right;
    list-style: none;
}


/* NAV MENU LISTA RENDEZÉSE */

.topmenu ul li {
    display: inline-block;
    float: left;
    background: transparent;
    margin: 0 5px;
    /* padding-left: 60px; */
}


/* NAV MENU HIVATKOZÁSOK RENDEZÉSE */

.topmenu ul li a {
    position: relative;
    display: inline-block;
    color: white;
    text-decoration: none;
    line-height: 70px;
    font-size: 18px;
    padding: 0px 15px;
    font-weight: 800;
    z-index: 1;
    letter-spacing: 1.5px;
    transition: 0.5s;
    overflow: hidden;
    border-radius: 50%
}


/* NAV LOGO RENDEZÉSE*/

.topmenu .logo {
    font-weight: bolder;
    font-size: 25px;
    padding-left: 60px;
    line-height: 70px;
    color: white;
    float: left;
}


/* NAV HIVATKOZÁS HOVER EFFEKT */

.topmenu ul:hover li a {
    opacity: 0.4;
}


/* NAV MENU LISTA BEFORE CONTENT */

.topmenu ul li:hover:before {
    opacity: 0.3;
    letter-spacing: 0px;
}


/* HIVATKOZAS HOVER EFFEKT */

.topmenu ul li a:hover {
    transform: scale(1.2);
    z-index: 1000;
    opacity: 1;
    color: #f2f2f2;
}


/* HIVATKOZAS HOVER EFFEKT BEFORE CONTENT */

.topmenu ul li a:before {
    content: '';
    position: absolute;
    top: 30%;
    left: -100px;
    width: 80px;
    height: 30px;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.8), transparent);
    transform: skewX(35deg);
    transition: 0s;
}


/* HIVATKOZÁS BEFORE CONTENT SZÉLESSÉGÉNEK BEÁLLÍTÁSA */

.topmenu ul li a:hover:before {
    left: calc(100% + 100px);
    transition: 0.5s;
    transition-delay: 0.2s;
}


/* HAMBURGER ICON MEGJELENÉSE */

.icon,
.csekk {
    display: none;
}


/* MAIN SZERKESZTÉSE */


/* INFORMATÍV SZÖVEG BEÁLLÍTÁSOK */

.szovegresz {
    background: #cc9e51;
    position: relative;
    width: 100%;
    padding: 50px;
}


/* BAL KÉP BEÁLLÍTÁSA*/

.kor {
    position: relative;
    overflow: hidden;
}


/*BAL KÉP DOBOZ */

.kor.kor1 {
    width: 500px;
    height: 500px;
    float: left;
    border-radius: 50%;
    margin: 20px;
    shape-outside: circle();
    transition: 0.2s;
}


/* JOBB KÉP DOBOZ */

.kor.kor2 {
    width: 300px;
    height: 300px;
    float: right;
    border-radius: 50%;
    margin: 20px;
    shape-outside: circle();
    transition: 0.2s;
}


/* BAL KÉP ILLESZTÉS*/

.kor.kor1 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* JOBB KÖR ILLESZTÉS */

.kor.kor2 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* INFORMATÍV SZÖVEG CÍME */

.szovegresz .tartalom h2 {
    font-size: 2em;
    color: #fff;
    text-align: center;
    transition: 0.2s;
    font-weight: bolder;
    text-shadow: 0px 1px 4px;
}


/* INFORMATÍV SZÖVEG TARTALOM */

.szovegresz .tartalom p {
    color: #fff;
    transition: 0.2s;
}


/* POST SLIDER AREA BEÁLLÍTÁSOK */

.page-wrapper .post-slider {
    position: relative;
    border-width: 0.5rem;
    border-top-style: ridge;
    border-top-color: #dfb773;
    border-radius: 5px;
}


/* GALÉRIA CÍM BEÁLLÍTÁSOK  */

.page-wrapper .post-slider .slider-title {
    text-align: center;
    margin: 30px auto;
    font-weight: bolder;
    font-size: 40px;
    text-shadow: 0px 1px 4px;
    color: white;
}


/* BAL FA ICON */

.post-slider .prev {
    position: absolute;
    top: 60%;
    left: 30px;
    font-size: 2em;
    cursor: pointer;
    color: rgb(161, 121, 100);
}


/* JOBB FA ICON */

.post-slider .next {
    position: absolute;
    top: 60%;
    right: 30px;
    font-size: 2em;
    cursor: pointer;
    color: rgb(161, 121, 100);
}


/* KÉP BOX BEÁLLÍTÁS*/

.post-slider .post-wrapper {
    width: 84%;
    height: 330px;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 5px;
    padding: 10px 0px 10px 0px;
}


/* KÉP AREA BEÁLLÍTÁS */

.post-slider .post-wrapper .post {
    display: inline-block;
    width: 300px;
    margin: 0px 10px;
    height: 330px;
    border-radius: 50px;
    box-shadow: 1rem 3rem 1rem -1rem rgb(161, 121, 100);
}


/* KÉP BEÁLLÍTÁS */

.post-slider .post-wrapper .post .slider-image {
    width: 100%;
    height: 350px;
    border-radius: 5px;
}


/* FOOTER */


/* FOOTER RÁCS SZERKEZET BEÁLLÍTÁSA */

footer {
    border-top-style: ridge;
    border-top-color: #dfb773;
    border-width: 0.5rem;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: repeat(auto, 4);
    grid-template-areas: "info about message" "efekt efekt efekt" "social social social" "term term term";
    height: 100%;
    padding-top: 3%;
}


/* INFO BOX */

.info-container {
    display: grid;
    grid-area: info;
    width: 100%;
    position: relative;
    ;
}


/* MAGA AZ INFO TARTALOM */

.info {
    position: relative;
    display: grid;
}


/*  INFO IKONOK */

.info i {
    padding: 50px 0 0 20%;
}


/* INFO CÍM */

.elerhetoseg {
    font-size: 30px;
    text-align: center;
    font-weight: bolder;
    text-shadow: 0px 1px 4px;
    color: white;
}


/* ICONOK ELRENEZÉSE -> */

.fa-map-marker-alt {
    color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
}


/* IKON MELLETTI SZÖVEG (P) */

.fa-map-marker-alt>p {
    padding-left: 40px;
    cursor: default;
}

.fa-envelope {
    color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.fa-envelope>p {
    padding-left: 40px;
    cursor: default;
}

.fa-mobile-alt {
    color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.fa-mobile-alt>p {
    padding-left: 40px;
    cursor: default;
}

.fa-door-open {
    color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.fa-door-open>p {
    padding-left: 40px;
    cursor: default;
}


/* <- IKONOK ELRENDEZÉSÉNEK VÉGE */


/* ABOUT BOX */

.about-container {
    display: grid;
    grid-area: about;
}

.about {
    width: 100%;
}


/* ROLUNK BOX */

.rolunk {
    font-size: 30px;
    text-align: center;
    font-weight: bolder;
    text-shadow: 0px 1px 4px;
    color: white;
    padding: 0px;
}


/* ROLUNK BOX IGAZÍTÁS SZÖVEG */

.rolunkszoveg {
    padding: 50px 10px 0px 10px;
    width: 100%;
    color: white;
}


/* BŐVEBBEN HIVATKOZÁS BEÁLLÍTÁSOK */

.bovebben {
    padding: 40px 0px 0px 10px;
    text-align: center;
}

.bovebben>a {
    text-decoration: none;
    display: inline-block;
    position: relative;
    overflow: hidden;
    padding: 10px 10px;
    background: #dfb773;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    z-index: 1;
    transition: 0.5s;
    font-weight: 600;
}

.bovebben>a span {
    position: absolute;
    display: block;
}

.bovebben>a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg, transparent, rgb(243, 228, 228))
}

.bovebben>a span:nth-child(2) {
    top: 0;
    right: -100%;
    width: 100%;
    height: 3px;
    background: linear-gradient(-90deg, transparent, rgb(243, 228, 228))
}

.bovebben>a span:nth-child(3) {
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg, transparent, rgb(243, 228, 228))
}

.bovebben>a span:nth-child(4) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 3px;
    background: linear-gradient(-90deg, transparent, rgb(243, 228, 228))
}

.bovebben>a:hover span:nth-child(1) {
    left: -50%;
    transition: 0.5s;
}

.bovebben>a:hover span:nth-child(2) {
    right: -50%;
    transition: 0.5s;
}

.bovebben>a:hover span:nth-child(3) {
    left: -50%;
    transition: 0.5s;
}

.bovebben>a:hover span:nth-child(4) {
    right: -50%;
    transition: 0.5s;
}

.bovebben>a:hover {
    transform: scale(0.9);
    opacity: 1;
}


/* HIVATKOZÁS BEÁLLÍTÁSOK VÉGE */


/* MESSAGE RÉSZ BEÁLLÍTÁSOK */


/* MESSAGE BOX */

.message-container {
    display: grid;
    grid-area: message;
    width: 100%;
    position: relative;
}

.message {
    width: 100%;
}


/* MESSAGE CÍM */

.contact {
    font-size: 30px;
    text-align: center;
    font-weight: bolder;
    text-shadow: 0px 1px 4px;
    color: white;
}

.content {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.content form .msg {
    margin-top: 10px;
}


/*  EMAIL - MESSAGE TEXTAREA */

.content form input,
.content form textarea {
    width: 100%;
    font-size: 1.0625rem;
    background: #dfb773;
    padding-left: 10px;
    border: 1px solid rgb(243, 228, 228);
    border-radius: 5px;
    color: white;
    font-weight: bolder;
}

.content form input {
    height: 35px;
}

.content form .level:focus,
.content>form .uzenet:focus {
    outline-color: rgb(163, 111, 111);
}

.content form .text {
    font-size: 1.0625rem;
    margin-bottom: 2px;
    color: white;
}


/*  KULDES BUTTON ANIMALASA */

.kuldes {
    padding: 40px 0px 0px 10px;
    text-align: center;
}

.kuldes>button {
    text-decoration: none;
    display: inline-block;
    position: relative;
    overflow: hidden;
    padding: 5px 0px;
    background: #dfb773;
    border-radius: 5px;
    color: white;
    width: 100%;
    font-size: 18px;
    z-index: 1;
    transition: 0.5s;
    font-weight: 600;
    cursor: pointer;
}

.kuldes>button span {
    position: absolute;
    display: block;
}

.kuldes>button span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg, transparent, rgb(243, 228, 228))
}

.kuldes>button span:nth-child(2) {
    top: 0;
    right: -100%;
    width: 100%;
    height: 3px;
    background: linear-gradient(-90deg, transparent, rgb(243, 228, 228))
}

.kuldes>button span:nth-child(3) {
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg, transparent, rgb(243, 228, 228))
}

.kuldes>button span:nth-child(4) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 3px;
    background: linear-gradient(-90deg, transparent, rgb(243, 228, 228))
}

.kuldes>button:hover span:nth-child(1) {
    left: -50%;
    transition: 0.5s;
}

.kuldes>button:hover span:nth-child(2) {
    right: -50%;
    transition: 0.5s;
}

.kuldes>button:hover span:nth-child(3) {
    left: -50%;
    transition: 0.5s;
}

.kuldes>button:hover span:nth-child(4) {
    right: -50%;
    transition: 0.5s;
}

.kuldes>button:hover {
    transform: scale(0.9);
    opacity: 1;
}


/* KULDES BUTTON ANIMALASANAK VEGE */


/*  SOCIAL LINKS ELVÁLASZTÓ */

.social-text-container {
    display: flex;
    grid-area: efekt;
    width: 100%;
    position: relative;
}

.social-effect {
    width: 100%;
    text-align: center;
}

.social-effect p {
    font-size: 40px;
    color: white;
    font-weight: 600;
    text-shadow: 0px 1px 4px;
    position: relative;
    margin-top: 5px;
}

.social-effect p:before {
    content: "";
    display: block;
    height: 2px;
    background: #dfb773;
    left: 100px;
    top: 50%;
    width: 50%;
    position: absolute;
    z-index: -2;
}

.social-effect p:after {
    content: "";
    display: block;
    height: 2px;
    background: #dfb773;
    right: 100px;
    top: 50%;
    position: absolute;
    z-index: -2;
    width: 50%;
}

.social-effect>p>span {
    background: #cc9e51;
    padding: 0px 10px;
}


/*  ELVÁLASZTÓ VÉGE */


/* SOCAL LINKEK ELHELYEZÉSE / ANIMÁLÁSA */

.social-link-container {
    display: flex;
    justify-content: space-around;
    grid-area: social;
    width: 100%;
    position: relative;
}

.social-container>ul {
    display: flex;
    justify-content: space-around;
}

.social-container>ul li {
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    font-size: 50px;
    transform: rotate(45deg);
    overflow: hidden;
    transition: all .5s ease-in;
}

.social-container>ul li:before {
    content: '';
    display: block;
    width: 50%;
    height: 100%;
    position: absolute;
    z-index: -2;
}

.social-container>ul li:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 50%;
    z-index: -3;
    transition: all .5s ease-in-out;
    opacity: 0.5;
}

.social-container>ul li a {
    color: white;
    margin: auto;
    text-shadow: 0 2px 0 rgb(2, 2, 2);
    transform: rotate(-45deg);
    transition: all 0.5s ease-in;
}

.social-container>ul li:hover {
    transform: rotate(765deg);
}

.social-container>ul li:hover:after {
    right: 0%;
}

.social-container>ul li:hover a {
    transform: rotate(-765deg);
}

.social-container>ul li:nth-of-type(2):before,
.social-container>ul li:nth-of-type(2):after {
    background: red;
}

.social-container>ul li:nth-of-type(1):before,
.social-container>ul li:nth-of-type(1):after {
    background: rgb(13, 140, 240)
}

.social-container>ul li:nth-of-type(3):before,
.social-container>ul li:nth-of-type(3):after {
    background: rgb(28, 156, 234)
}

.social-container>ul li:nth-of-type(4):before,
.social-container>ul li:nth-of-type(4):after {
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}

.social-container>ul li:nth-of-type(5):before,
.social-container>ul li:nth-of-type(5):after {
    background: black;
}

.social-container>ul li:nth-of-type(6):before,
.social-container>ul li:nth-of-type(6):after {
    background: red;
}


/*  SOCIAL LINKEK ANIMÁLÁSÁNAK VÉGE */


/* TEMRS PRIVACY BOX  */

.termprivacy-container {
    display: flex;
    justify-content: center;
    grid-area: term;
    width: 100%;
    position: relative;
}

.rule-container p {
    color: white;
    font-size: 30px;
    font-weight: bolder;
    text-shadow: 0px 1px 4px;
}


/* RESZPONZIVITÁS */


/* 1200 PIXELES HATÁSOK */

@media all and (max-width: 1200px) {
    /* MENU LISTA*/
    .topmenu ul {
        margin-right: 0px;
        float: left;
    }
    /* LOGO */
    .topmenu .logo {
        padding-left: 13px;
        width: 100%;
        transition: 0.5s;
    }
    /* MENU LISTA ELEM */
    .topmenu ul li {
        display: block;
        padding-right: 62px;
        width: 100%;
    }
    /* HAMBURGER LABEL */
    .icon {
        display: block;
        color: white;
        position: absolute;
        right: 40px;
        line-height: 70px;
        font-size: 25px;
        cursor: pointer;
    }
    /* LISTA TARTALOM */
    .topmenu ul li a {
        line-height: 25px;
        padding: 0 10px;
    }
    /* SZAUNA CÍM */
    .borito-img>.cim h1 {
        font-size: 80px;
    }
    /* SALUTEM CIM*/
    .borito-img>.cim h2 {
        font-size: 40px;
    }
    /* LISTA MUTATASA */
    .topmenu a,
    ul {
        display: none;
    }
    /* LISTA MEGJELENÍTÉSE CHECKRE*/
    [id^=btn]:checked+ul {
        display: block;
    }
    /* BAL KÉP  */
    .kor.kor1 {
        width: 400px;
        height: 400px;
        margin: 10px;
        transition: 0.5s;
    }
    /* JOBB KÉP */
    .kor.kor2 {
        width: 200px;
        height: 200px;
        margin: 10px;
        transition: 0.5s;
    }
    /* FOOTER RÁCS SZERKEZET */
    footer {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat (auto, 6);
        grid-template-areas: "info" "about" "message" "efekt" "social" "term";
        height: 100%;
    }
    /* SOCIAL LINKEK MÉRETEZÉSE */
    .social-container>ul li {
        width: 50px;
        height: 50px;
        font-size: 25px;
    }
    /* ELÉRHETŐSÉGEK RENDEZÉSE */
    .info-container {
        justify-content: center;
    }
}


/* 1000 PIXELES HATÁSOK */

@media all and (max-width: 1000px) {
    /* BAL KÉP */
    .kor.kor1 {
        width: 300px;
        height: 300px;
        margin: 10px;
        transition: 0.5s;
    }
    /* JOBB KÉP */
    .kor.kor2 {
        width: 150px;
        height: 150px;
        margin: 10px;
        transition: 0.5s;
    }
    /* RIZSA */
    .szovegresz {
        padding: 40px;
    }
    /* BORÍTÓ MAGASSÁGA */
    .borito {
        height: 60vh;
        transition: 1s;
    }
    /* HIVATKOZÁSOK NAVON BELÜLI RENDEZÉSE */
    .topmenu ul li a {
        line-height: 25px;
    }
}


/* 800 PIXELES HATÁSOK */

@media all and (max-width:800px) {
    /* MENU LISTA */
    .topmenu ul {
        margin-right: 0px;
        float: left;
    }
    /* LOGO */
    .topmenu .logo {
        padding-left: 13px;
        width: 100%;
    }
    /* MENU LISTA ELEM*/
    .topmenu ul li {
        display: block;
        width: 100%;
    }
    /* HAMBURGER LABEL */
    .icon {
        display: block;
        color: white;
        position: absolute;
        right: 40px;
        line-height: 70px;
        font-size: 25px;
        cursor: pointer;
    }
    /* LISTA TARTALOM */
    .topmenu ul li a {
        padding: 0 10px;
        line-height: 25px;
    }
    /* BORÍTÓ MAGASSÁGA */
    .borito {
        height: 70vh;
        transition: 1s;
    }
    /* SZAUNA CIM */
    .borito-img>.cim h1 {
        font-size: 80px;
    }
    /* SALUTEM CIM */
    .borito-img>.cim h2 {
        font-size: 40px;
    }
    /* LISTA MUTATÁSA */
    .topmenu a,
    ul {
        display: none;
    }
    /* LISTA MEGJELENÍTÉSE CHECKRE */
    [id^=btn]:checked+ul {
        display: block;
    }
    /* BAL KÉP */
    .kor.kor1 {
        width: 200px;
        height: 200px;
        margin: 20px;
        transition: 0.5s;
    }
    /* JOBB KÉP */
    .kor.kor2 {
        width: 130px;
        height: 130px;
        margin: 40px;
        transition: 0.5s;
    }
    /* RIZSA */
    .szovegresz {
        padding: 30px;
    }
    /* FA ICON GALERIA SLIDER */
    .post-slider .prev {
        left: 0px;
    }
    .post-slider .next {
        right: 0px;
    }
    /* SLIDER BOX */
    .post-slider .post-wrapper {
        width: 84%;
        height: 290px;
    }
    /* SLIDER BOX KÉP */
    .post-slider .post-wrapper .post .slider-image {
        width: 100%;
        height: 290px;
        border-radius: 5px;
    }
}