<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="../../assets/css/szolgaltatas_oldalak/etterem.css">
    <title>SZFM Etterem</title>
</head>

<body>


    <div class="video-container">
        <video autoplay loop muted>
            <source src="../../resources/videos/video.mp4" type="video/mp4">
        </video>
        <div class="overlay-desc">
            <nav class="navbar">
                <nav class="navbar-container">
                    <div class="logo">Logo</div>
                    <label for="btn" class="icon">
                        <span class="fa fa-bars"></span>
                    </label>
                    <input class="csekk" type="checkbox" id="btn">

                    <ul class="menu">
                        <li class="menu-elem"><a class="menu-hivatkozas" href="">Forum</a></li>
                        <li class="menu-elem"><a class="menu-hivatkozas" href="">Kapcsolat</a></li>
                        <li class="menu-elem"><a class="menu-hivatkozas" href="">Szolgaltatasok</a></li>
                        <li class="menu-elem"><a class="menu-hivatkozas" href="">Rolunk</a></li>
                        <li class="menu-elem"><a class="menu-hivatkozas" href="">Belepes</a></li>
                        <li class="menu-elem"><a class="menu-hivatkozas" href="">Regisztracio</a></li>
                    </ul>
                </nav>
            </nav>
        </div>
    </div>

    <!-- ---------------------Etlap - Itallap-------------------- -->
    <div class="lap">
        <div class="etlap-itallap">
            <div class="lap-bezarva">
                <ul class="ajanlat">
                    <button class="etlap-button"><span>Étlap</span></button>
                    <button class="itallap-button"><span>Itallap</span></button>
                </ul>
            </div>
            <div class="lap-nyitva">
                <div class="etelek">
                    <div class="sertes">
                        <h4>Sertéslapocka</h4>
                        <p>1.980 Ft</p>
                    </div>
                    <div class="marha">
                        <h4>Steak</h4>
                        <p>4.000 Ft</p>
                    </div>
                    <div class="eger">
                        <h4>Egér</h4>
                        <p>2.000 Ft</p>
                    </div>
                    <div class="csulok">
                        <h4>Csulok</h4>
                        <p>3.000 Ft</p>
                    </div>
                    <div class="sertes">
                        <h4>Sertéslapocka</h4>
                        <p>1.980 Ft</p>
                    </div>
                    <div class="marha">
                        <h4>Steak</h4>
                        <p>4.000 Ft</p>
                    </div>
                    <div class="eger">
                        <h4>Egér</h4>
                        <p>2.000 Ft</p>
                    </div>
                    <div class="csulok">
                        <h4>Csulok</h4>
                        <p>3.000 Ft</p>
                    </div>
                    <div class="sertes">
                        <h4>Sertéslapocka</h4>
                        <p>1.980 Ft</p>
                    </div>
                    <div class="marha">
                        <h4>Steak</h4>
                        <p>4.000 Ft</p>
                    </div>
                    <div class="eger">
                        <h4>Egér</h4>
                        <p>2.000 Ft</p>
                    </div>
                    <div class="csulok">
                        <h4>Csulok</h4>
                        <p>3.000 Ft</p>
                    </div>
                    <div class="sertes">
                        <h4>Sertéslapocka</h4>
                        <p>1.980 Ft</p>
                    </div>
                    <div class="marha">
                        <h4>Steak</h4>
                        <p>4.000 Ft</p>
                    </div>
                    <div class="eger">
                        <h4>Egér</h4>
                        <p>2.000 Ft</p>
                    </div>
                    <div class="csulok">
                        <h4>Csulok</h4>
                        <p>3.000 Ft</p>
                    </div>
                    <div class="sertes">
                        <h4>Sertéslapocka</h4>
                        <p>1.980 Ft</p>
                    </div>
                    <div class="marha">
                        <h4>Steak</h4>
                        <p>4.000 Ft</p>
                    </div>
                    <div class="eger">
                        <h4>Egér</h4>
                        <p>2.000 Ft</p>
                    </div>
                    <div class="csulok">
                        <h4>Csulok</h4>
                        <p>3.000 Ft</p>
                    </div>
                    <div class="sertes">
                        <h4>Sertéslapocka</h4>
                        <p>1.980 Ft</p>
                    </div>
                    <div class="marha">
                        <h4>Steak</h4>
                        <p>4.000 Ft</p>
                    </div>
                    <div class="eger">
                        <h4>Egér</h4>
                        <p>2.000 Ft</p>
                    </div>
                    <div class="csulok">
                        <h4>Csulok</h4>
                        <p>3.000 Ft</p>
                    </div>
                    <div class="sertes">
                        <h4>Sertéslapocka</h4>
                        <p>1.980 Ft</p>
                    </div>
                    <div class="marha">
                        <h4>Steak</h4>
                        <p>4.000 Ft</p>
                    </div>
                    <div class="eger">
                        <h4>Egér</h4>
                        <p>2.000 Ft</p>
                    </div>
                    <div class="csulok">
                        <h4>Csulok</h4>
                        <p>3.000 Ft</p>
                    </div>
                    <div class="sertes">
                        <h4>Sertéslapocka</h4>
                        <p>1.980 Ft</p>
                    </div>
                    <div class="marha">
                        <h4>Steak</h4>
                        <p>4.000 Ft</p>
                    </div>
                    <div class="eger">
                        <h4>Egér</h4>
                        <p>2.000 Ft</p>
                    </div>
                    <div class="csulok">
                        <h4>Csulok</h4>
                        <p>3.000 Ft</p>
                    </div>
                    <div class="sertes">
                        <h4>Sertéslapocka</h4>
                        <p>1.980 Ft</p>
                    </div>
                    <div class="marha">
                        <h4>Steak</h4>
                        <p>4.000 Ft</p>
                    </div>
                </div>
            </div>
            <div class="lap-nyitva2">
                <div class="etelek">
                    <div class="sertes">
                        <h4>Pinacolata</h4>
                        <p>800 Ft</p>
                    </div>
                    <div class="marha">
                        <h4>Mojito</h4>
                        <p>600 Ft</p>
                    </div>
                    <div class="eger">
                        <h4>Sex On The Beach</h4>
                        <p>1.000 Ft</p>
                    </div>
                    <div class="csulok">
                        <h4>Long Island</h4>
                        <p>1.200 Ft</p>
                    </div>
                    <div class="sertes">
                        <h4>Caipirinha</h4>
                        <p>800 Ft</p>
                    </div>
                    <div class="sertes">
                        <h4>Pinacolata</h4>
                        <p>800 Ft</p>
                    </div>
                    <div class="marha">
                        <h4>Mojito</h4>
                        <p>600 Ft</p>
                    </div>
                    <div class="eger">
                        <h4>Sex On The Beach</h4>
                        <p>1.000 Ft</p>
                    </div>
                    <div class="csulok">
                        <h4>Long Island</h4>
                        <p>1.200 Ft</p>
                    </div>
                    <div class="sertes">
                        <h4>Caipirinha</h4>
                        <p>800 Ft</p>
                    </div>
                    <div class="sertes">
                        <h4>Pinacolata</h4>
                        <p>800 Ft</p>
                    </div>
                    <div class="marha">
                        <h4>Mojito</h4>
                        <p>600 Ft</p>
                    </div>
                    <div class="eger">
                        <h4>Sex On The Beach</h4>
                        <p>1.000 Ft</p>
                    </div>
                    <div class="csulok">
                        <h4>Long Island</h4>
                        <p>1.200 Ft</p>
                    </div>
                    <div class="sertes">
                        <h4>Caipirinha</h4>
                        <p>800 Ft</p>
                    </div>
                    <div class="marha">
                        <h4>Steak</h4>
                        <p>4.000 Ft</p>
                    </div>
                    <div class="sertes">
                        <h4>Pinacolata</h4>
                        <p>800 Ft</p>
                    </div>
                    <div class="marha">
                        <h4>Mojito</h4>
                        <p>600 Ft</p>
                    </div>
                    <div class="eger">
                        <h4>Sex On The Beach</h4>
                        <p>1.000 Ft</p>
                    </div>
                    <div class="csulok">
                        <h4>Long Island</h4>
                        <p>1.200 Ft</p>
                    </div>
                    <div class="sertes">
                        <h4>Caipirinha</h4>
                        <p>800 Ft</p>
                    </div>
                    <div class="sertes">
                        <h4>Pinacolata</h4>
                        <p>800 Ft</p>
                    </div>
                    <div class="marha">
                        <h4>Mojito</h4>
                        <p>600 Ft</p>
                    </div>
                    <div class="eger">
                        <h4>Sex On The Beach</h4>
                        <p>1.000 Ft</p>
                    </div>
                    <div class="csulok">
                        <h4>Long Island</h4>
                        <p>1.200 Ft</p>
                    </div>
                    <div class="sertes">
                        <h4>Caipirinha</h4>
                        <p>800 Ft</p>
                    </div>
                    <div class="sertes">
                        <h4>Pinacolata</h4>
                        <p>800 Ft</p>
                    </div>
                    <div class="marha">
                        <h4>Mojito</h4>
                        <p>600 Ft</p>
                    </div>
                    <div class="eger">
                        <h4>Sex On The Beach</h4>
                        <p>1.000 Ft</p>
                    </div>
                    <div class="csulok">
                        <h4>Long Island</h4>
                        <p>1.200 Ft</p>
                    </div>
                    <div class="sertes">
                        <h4>Caipirinha</h4>
                        <p>800 Ft</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="szezonalis">
            <p><span>Szezonális Ajánlatok</span></p>
            <div class="szezonalis-szoveg">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit consequatur impedit reprehenderit laboriosam illo dignissimos dolorum perferendis! Soluta vel molestiae esse omnis exercitationem distinctio voluptate, accusantium corrupti
                    atque, architecto fuga. Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, voluptatum fuga modi similique fugit quia libero illo, molestiae itaque non eum vero quibusdam magnam voluptas atque exercitationem? Consequuntur,
                    fuga beatae. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore itaque minus, tempora vitae minima architecto, deleniti voluptatum similique consectetur ratione quis corporis quod quas. Temporibus eaque exercitationem
                    culpa velit minima?</p>
            </div>
        </div>
        <img class="cover" src="../../resources/images/szolgaltatas_oldalak_images/etterem.jpg" alt="">
    </div>
    <footer>
        <section class="info-container">
            <div class="info">
                <p class="elerhetoseg">Elérhetőség</p>
                <i class="fas fa-map-marker-alt">
                    <p>Seychelle-szigetek - Vista Do Mar <br> Barra Beach </p></i>
                <i class="fas fa-envelope"><p>
                    info@szfmwellness.hu
                </p></i>
                <i class="fas fa-mobile-alt">
                    <p>+36-30-123-456-7</p>
                </i>
                <i class="fas fa-door-open">
                    <p>06:00 - 22:00</p>
                </i>

            </div>
        </section>
        <section class="about-container">
            <div class="about">
                <p class="rolunk">Rólunk</p>
                <p class="rolunkszoveg"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor illo qui recusandae natus, atque error deserunt asperiores assumenda consectetur omnis beatae alias adipisci quaerat vel fuga sed minima culpa ipsum. Lorem, ipsum dolor sit
                    amet consectetur adipisicing elit. Distinctio et excepturi error in assumenda doloremque sint tempore, minus labore dolor laborum non fugiat. Fuga doloribus ex voluptatem libero asperiores delectus.......
                </p>
                <p class="bovebben">
                    <a href="">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span> Bővebben
                    </a>
                </p>
            </div>
        </section>
        <section class="message-container">
            <div class="message">
                <p class="contact">Lépjen Kapcsolatba Velünk</p>
                <div class="content">
                    <form action="#">
                        <div class="email">
                            <div class="text">Email *</div>
                            <input class="level" type="email" required>
                        </div>
                        <div class="msg">
                            <div class="text">Message *</div>
                            <textarea class="uzenet" rows="2" cols="25" required></textarea>
                        </div>
                        <div class="kuldes">
                            <button type="submit">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                Küldés</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <section class="social-text-container">
            <div class="social-effect">
                <p><span>Social links</span></p>
            </div>
        </section>
        <section class="social-link-container">
            <div class="social-container">

                <ul>
                    <li><a href=""><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href=""><i class="fab fa-youtube" aria-hidden="true"></i></a></li>
                    <li><a href=""><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href=""><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                    <li><a href=""><i class="fab fa-tiktok" aria-hidden="true"></i></a></li>
                    <li><a href=""><i class="fab fa-pinterest" aria-hidden="true"></i></a></li>
                </ul>

            </div>
        </section>
        <section class="termprivacy-container">
            <div class="rule-container">
                <p>terms &#124; privacy </p>
            </div>
        </section>
    </footer>




    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TimelineLite.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/plugins/CSSPlugin.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenLite.min.js"></script>
    <script src="../../assets/js/anime.min.js"></script>
    <script src="../../assets/js/szolgaltatas_oldalak_js/etterem.js"></script>


</body>

</html>