<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/szolgaltatas_oldalak/szauna.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <title>Szauna</title>
</head>

<body>
    <header class="borito">
        <div class="borito-img">
            <nav>
                <div class="topmenu">
                    <div class="logo">Logo</div>
                    <label for="btn" class="icon">
                        <span class="fa fa-bars"></span>
                    </label>
                    <input class="csekk" type="checkbox" id="btn">
                    <ul>
                        <li><a href="">Forum</a></li>
                        <li><a href="">Kapcsolat</a></li>
                        <li><a href="">Szolgaltatasok</a></li>
                        <li><a href="">Rolunk</a></li>
                        <li><a href="">Belepes</a></li>
                        <li><a href="">Regisztracio</a></li>
                    </ul>
                </div>
            </nav>
            <div class="cim">
                <h1>Szauna</h1>
                <h3>Salutem</h3>
            </div>
        </div>
    </header>
    <main>
        <div class="szovegresz">
            <div class="kor kor1">
                <img src="../../resources/images/szolgaltatas_oldalak_images/szaunakomplex.jpg" alt="">
            </div>
            <div class="kor kor2">
                <img src="../../resources/images/szolgaltatas_oldalak_images/szauna2.jpg" alt="">
            </div>
            <div class="tartalom">
                <h2>Tua nobis salutem sit amet</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam odio possimus ipsa officia, est mollitia sapiente quia cupiditate sequi magni. Exercitationem minus, dolor doloremque aspernatur veritatis vel atque eligendi modi. Lorem ipsum
                    dolor sit amet consectetur adipisicing elit. Necessitatibus dignissimos a suscipit eum! Cum quia maiores adipisci non, perspiciatis laboriosam dolore doloribus tenetur nisi aperiam, debitis hic nihil omnis blanditiis. Lorem ipsum dolor
                    sit amet consectetur adipisicing elit. Quae hic officiis repudiandae reiciendis cumque repellat. In praesentium, beatae a ratione nobis odio id iste quis quos est fugit dolorum nemo. Lorem, ipsum dolor sit amet consectetur adipisicing
                    elit. Tempora sit nam itaque nulla ipsa est porro quos maiores consectetur beatae at laboriosam commodi doloribus accusantium illum, veniam hic alias corporis. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis quam molestias
                    ab dolor natus vitae ullam saepe iusto doloribus minima. In voluptates beatae, sed quas quae eaque nobis quam quaerat. Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt ipsa veritatis inventore velit autem minus nam
                    officiis quia perferendis in, ullam blanditiis a sunt iste distinctio eos numquam ut iusto. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo omnis qui quia, ipsam nostrum, ducimus minus ea aliquid impedit atque repudiandae
                    dignissimos velit corrupti dolor, id consectetur voluptatibus magni voluptate! Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis tenetur dicta, est exercitationem ut iste labore esse incidunt id recusandae necessitatibus.
                    Labore suscipit sit esse hic veritatis fuga reiciendis ex. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita blanditiis modi culpa libero qui aperiam in consectetur veniam adipisci molestiae! Tempore similique autem
                    saepe dignissimos officiis iure fuga veritatis tempora. Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, eaque! Illum beatae obcaecati qui nihil repudiandae, aperiam ipsum harum doloribus inventore magnam ex nesciunt
                    dicta rerum rem? Voluptates, fugiat quas. Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, veniam reiciendis! Itaque porro voluptate dignissimos quis doloribus minima nobis nemo, optio, magnam perferendis soluta tempore
                    deserunt praesentium, aliquid voluptas voluptatem?</p>
            </div>
        </div>
    </main>
    <section>
        <div class="page-wrapper">
            <div class="post-slider">
                <h1 class="slider-title">Galéria</h1>
                <i class="fa fa-chevron-left prev"></i>
                <i class="fa fa-chevron-right next"></i>
                <div class="post-wrapper">

                    <div class="post">
                        <img src="../../resources/images/szolgaltatas_oldalak_images/szauna2.jpg" alt="" class="slider-image">
                    </div>
                    <div class="post">
                        <img src="../../resources/images/szolgaltatas_oldalak_images/szauna2.jpg" alt="" class="slider-image">

                    </div>
                    <div class="post">
                        <img src="../../resources/images/szolgaltatas_oldalak_images/szauna2.jpg" alt="" class="slider-image">

                    </div>
                    <div class="post">
                        <img src="../../resources/images/szolgaltatas_oldalak_images/szauna2.jpg" alt="" class="slider-image">

                    </div>
                    <div class="post">
                        <img src="../../resources/images/szolgaltatas_oldalak_images/szauna2.jpg" alt="" class="slider-image">

                    </div>
                    <div class="post">
                        <img src="../../resources/images/szolgaltatas_oldalak_images/szauna2.jpg" alt="" class="slider-image">

                    </div>
                    <div class="post">
                        <img src="../../resources/images/szolgaltatas_oldalak_images/szauna2.jpg" alt="" class="slider-image">

                    </div>
                    <div class="post">
                        <img src="../../resources/images/szolgaltatas_oldalak_images/szauna2.jpg" alt="" class="slider-image">

                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="../../assets/js/szolgaltatas_oldalak_js/szauna.js"></script>
</body>