html, body{
    width: 100%;
    background-color: #ccc;
}

span{
    font-size: 2rem;
}

.avg{
    margin-left: 2em;
}

#rating{
    font-size: 1rem;
}

#content{
    width: 100%;
}

.ratings{
    width: 100%;
    border-bottom: 1px solid black;

}

.comment{
    width: 50%;
    margin: auto;
    background-color: #fff;;
    margin-top: 10px;
    border: 1px solid black;
    padding: 1em;
    box-shadow: -2px 5px #aaa;
}

.message{
    width: 100%;
    margin-top: 1em;
}

#new-comment-form{
    width: 50%;
    margin: auto;
    padding: 0;
}

#ta-comment{
    margin: 0;
    padding: 0;
    width: 100%;
    resize: none;
}

#greeting{
    display: block;
    width: fit-content;
    margin: auto;
}

@media screen and (max-width: 600px)
{
    

    .comment{
        width: 300px;
    }

    #new-comment-form{
        width: 300px;
    }
}

@media screen and (max-width: 1024px)
{
    span{
        font-size: 1rem;
    }
}

