/*Betű stílusok*/
@font-face{
  font-family: "Great Vibes";
  src: url('../../resources/fonts/GreatVibes-Regular.ttf')
}

@font-face{
  font-family: "Montserrat";
  src: url('../../resources/fonts/Montserrat-BoldItalic.ttf')
}

@font-face{
  font-family: "Marck Script";
  src: url('../../resources/fonts/MarckScript-Regular.ttf')
}

body, html {
  height: 100%
}

/*Háttérképek*/
.bgimg1 {
  background-image: url('../../resources/images/HomePageImages/HomePageCover.png');
  background-repeat: no-repeat;
  min-height: 100%;
  width: auto;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.bgimg2 {
  background-image: url('../../resources/images/HomePageImages/AboutUsPageCover.png');
  background-repeat: no-repeat;
  min-height: 100%;
  width: auto;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.bgimg3 {
  background-image: url('../../resources/images/HomePageImages/ServicesPageCover.png');
  background-repeat: no-repeat;
  min-height: 100%;
  width: auto;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.bgimg4 {
  background-image: url('../../resources/images/HomePageImages/GaleryPageCover.png');
  background-repeat: no-repeat;
  min-height: 100%;
  width: auto;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.bgimg5 {
  background-image: url('../../resources/images/HomePageImages/ConnectionPageCover.png');
  background-repeat: no-repeat;
  min-height: 100%;
  width: auto;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

/*Címek*/
.title1{
  font-family: "Great Vibes";
  color: rgb(10, 10, 10) !important;
  text-shadow: 1px 3px 0  rgba(234, 159, 68, 1), 1px 13px 5px rgba(234, 159, 68, 1);
  text-align: center;
  font-size: 4rem !important;
  letter-spacing: 0.5rem !important;
  -webkit-text-stroke: 4px black;
}


.title2{
  font-family: "Marck Script";
  font-size: 4rem !important;
  color: #fdfafa;
  text-shadow: 1px 3px 0 #000000, 1px 13px 5px #000000;
  -webkit-text-stroke: 1.5px black;
  cursor: pointer;
}

.title2:hover{
  font-size: 4.5rem !important;
}

/*Bejelentkezés*/
.login{
  font-family: "Montserrat";
  font-size: 1rem !important;
  cursor: pointer;
  color: #fdfafa;
  -webkit-text-stroke: 1px black;
  text-shadow: 1px 2px 0 #000000, 1px 6px 5px #000000;
}

.login:hover{
  font-size: 1.1rem !important;
}

/*Responzivitás*/
@media only screen and (max-width: 675px)
{
  .login{
    font-size: 1rem !important;
    color: black !important;
    -webkit-text-stroke: none;
    text-shadow: none;
  }
  .login:hover{
    font-size: 0.85rem !important;
  }

  .title1{
    font-size: 3.5rem !important;
    letter-spacing: 0.5rem !important;
  }
  .title1:hover{
    font-size: 4.5rem !important;
  }
  .title2{
    font-size: 3rem !important;
    letter-spacing: 0.5rem !important;
  }
  .title2:hover{
    font-size: 3.5rem !important;
  }
  .services
  {
    font-size: 2.5rem !important;
  }
}
/*
@media only screen and (min-width: 650px) and (min-height: 400px){
  
  .title1{
    font-size: 4rem !important;
    letter-spacing: 0.5rem !important;
  }
  .title1:hover{
    font-size: 4.5rem !important;
  }
  .login{
    font-size: 1.5rem;
  }
  .login:hover{
    font-size: 1.7rem;
  }
}*/
/*
@media only screen and (min-width: 650px) and (max-height: 400px){
  .title1{
    font-size: 3rem !important;
    letter-spacing: 4px !important;
  }
  .title1:hover{
    font-size: 3.2rem !important;
  }
}*/