/*Betű stílusok*/
@font-face{
    font-family: "Italianno";
    src: url('../../resources/fonts/Italianno-Regular.ttf')
}
@font-face{
    font-family: "Montserrat";
    src: url('../../resources/fonts/Montserrat-BoldItalic.ttf')
} 
@font-face{
    font-family: "Rochester";
    src: url('../../resources/fonts/Rochester-Regular.ttf')
}   

/*Oldalbeállítások*/
*{
    margin: 0;
    padding: 0;
}
body, html {
    height: 100%
    
}

/*Borítókép*/
.bgimg {
  background-image: url('../../resources/images/ServicesPage-SportImages/Services-SportCover.png');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}

/*Kezdőlap gomb*/
.home{
    font-family: "Montserrat";
    font-size: 1.5rem;
    cursor: pointer;
    color: #fdfafa;
    -webkit-text-stroke: 1px black;
    text-shadow: 1px 3px 0 #000000, 1px 8px 5px #000000;
}
.home:hover{
    font-size: 1.7rem;
}

/*Cím elhelyezése*/
.middle{
    position: absolute;
    left: 30em;
    bottom: 25em;
}

/*Cím*/
h1{
    font-family: "Italianno";
    font-size: 10rem;
    text-align: center;
    color: #fdfafa;
    -webkit-text-stroke: 1.5px black;
    text-shadow: 1px 3px 0 #000000, 1px 13px 5px #000000
}

/*Háttérszín*/
.main{
    background-color: #EFEAE5;
}

/*Szöveg*/
.text{
    font-family: "Rochester";
    font-size: 1.9rem;
    padding: 5em;
}

/*Alcím*/
h2{
    font-family: "Italianno";
    font-size: 10rem;
    text-align: center;
    color: #fdfafa;
    -webkit-text-stroke: 1.5px black;
    text-shadow: 1px 3px 0 #000000, 1px 13px 5px #000000;
    margin: 0;
    line-height: 0.8;
    

    position: absolute;
    left: 50%;
    top: 50%;
    cursor: pointer;
    transform: translate(-50%,-50%);
    
}
h2:hover{
    font-size: 12rem;
}

/*Flexbox-contanie beállításai*/
.felxbox-container{
    display: flex;
    flex-wrap: wrap;
   
}

/*A konténerek méretei*/
.container1{
    width: 100%;
}
.container2{
    width: 50%;
    height: 42.5em;
    background-image: url('../../resources/images/ServicesPage-SportImages/TrainingGeneratorCover.png');
    background-size: cover;
    position: relative;
    
}
.container3{
    width: 50%;
    height: 42.5em;
    background-image: url('../../resources/images/ServicesPage-SportImages/CaloriKalkulatorCover.png');
    background-size: cover;
    position: relative;

}

/*Reszponzivitás*/
@media only screen and (max-width: 2560px){
    h1{
        font-size: 23rem;
    }
    .text{
        font-size: 5rem;
    }
    h2{
        font-size: 12rem;
    }
    h2:hover{
        font-size: 14rem;
    }
    .home{
        font-size: 4rem;
    }
    .home:hover{
        font-size: 5rem;
    }
}
@media only screen and (max-width: 1440px){
    h1{
        font-size: 15rem;
    }
    .text{
        font-size: 3rem;
        padding: 2em;
    }
    h2{
        font-size: 10rem;
    }
    h2:hover{
        font-size: 12rem;
    }
    .home{
        font-size: 2rem;
    }
    .home:hover{
        font-size: 3rem;
    }
}
@media only screen and (max-width: 1024px){
    .felxbox-container{
        display: block;
        flex-wrap: wrap;
    }
    .container2{
        width: 100%;
    }
    .container3{
        width: 100%;
    }
    .text{
        font-family: "Rochester";
        font-size: 1.9rem;
    }

}
@media only screen and (max-width: 767px){
    h1{
        font-size: 8rem;
    }
    h2{
        font-size: 8rem;
    }
    h2:hover{
        font-size: 10rem;
    }
    .middle{
        left: 20em;
    }
}
@media screen and (max-width: 530px) {
    h1{
        font-size: 8rem;
    }
    h2{
        font-size: 6rem;
    }
    h2:hover{
        font-size: 8rem;
    }
    .middle{
        left: 10em;
    }
}
