<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="../../assets/css/szolgaltatasok_osszessege_css/owl.carousel.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css" integrity="sha512-oc9+XSs1H243/FRN9Rw62Fn8EtxjEYWHXRvjS43YtueEewbS6ObfXcJNyohjHqVKFPoXXUxwc+q1K7Dee6vv9g==" crossorigin="anonymous" />
    <link rel="stylesheet" href="../../assets/css/szolgaltatasok_osszessege_css/szolgaltatasok.css">
    <title>Szolgaltatasok</title>
</head>

<body>
    <nav class="nav-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-3">
                    <div class="logo">
                        <a href="">Logo</a>
                        <label for="btn" class="icon">
                            <span class="fa fa-bars"></span>
                        </label>
                    </div>
                </div>
                <div class="col-xl-9">
                    <div class="menu">
                        <input class="csekk" type="checkbox" id="btn">
                        <ul>
                            <li><a href="">Forum</a></li>
                            <li><a href="">Kapcsolat</a></li>
                            <li><a href="">Szolgaltatasok</a></li>
                            <li><a href="">Rolunk</a></li>
                            <li><a href="">Belepes</a></li>
                            <li><a href="">Regisztracio</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <section class="slider-area owl-carousel">
        <div class="single-slide-szauna">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slide-content-szauna">
                            <h2>Szauna</h2>
                            <h4>Mikor és Miért?</h4>
                            <p>A szauna elsősorban télen kellemes, de a finnek nyáron is használják. Számukra a hagyományos belföldi vakáció az, hogy kimennek a mökkibe, horgásznak, kirándulnak, grilleznek, és természetesen szaunáznak is.....
                            </p>
                            <a class="szaunaref" href="">Bővebben</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slide-sobarlang">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slide-content-sobarlang">
                            <h2>Sóbarlang</h2>
                            <h4>Kinek ajánljuk?</h4>
                            <p>A só gyógyító erejét a II. világháború végén is megfigyelték, az óvóhelyként használt sóbányákban. Nem sokkal ezután asztmatikus szanatóriumokat nyitottak meg németországi, svájci .. természetes sóbarlangokban....</p>
                            <a class="sobarlangref" href="">Bővebben</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slide-halpedikur">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slide-content-halpedikur">
                            <h2>Halpedikűr</h2>
                            <h4>Pedikűr és Nevetés</h4>
                            <p>Halpedikűr elterjedése konkrétan nem meghatározható csak vissza tekintve a Garra Rufa halak "tudása" tulajdonsága és származása amely pontosan vissza vezethető. Halpedikűrt megelőzte a halak gyógyászati hasznának vizsgálata....</p>
                            <a class="halpedikurref" href="">Bővebben</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="../../assets/js/szolgaltatasok_osszessege_js/owl.carousel.min.js"></script>
    <script src="../../assets/js/szolgaltatasok_osszessege_js/szolgaltatasok.js"></script>

</body>

</html>

</html>